In [1]:
import pandas as pd

In [2]:
status_rest = pd.read_csv('bq-results-20230125-202210-1674678181880.csv')

In [4]:
hours_local = pd.read_csv("Menu hours.csv")
time_zones = pd.read_csv("store status.csv")

In [7]:
status_rest.head(10)

              store_id    timezone_str
0  8139926242460185114     Asia/Beirut
1  5415949628544298339   America/Boise
2  3408529570017053440  America/Denver
3  9055649751952768824  America/Denver
4  4428372089193592098  America/Denver
5  2689959411535120475  America/Denver
6  8297996490922435741  America/Denver
7  1050565545391667097  America/Denver
8  3483930781272060942  America/Denver
9  1740222068509982431  America/Denver

In [5]:
hours_local.head(6)

              store_id  day start_time_local end_time_local
0  1481966498820158979    4         00:00:00       00:10:00
1  1481966498820158979    2         00:00:00       00:10:00
2  1481966498820158979    0         00:00:00       00:10:00
3  1481966498820158979    1         00:00:00       00:10:00
4  1481966498820158979    5         00:00:00       00:10:00
5  1481966498820158979    3         00:00:00       00:10:00

In [26]:
time_zones.head(1000)

                store_id  status                   timestamp_utc
0    8419537941919820732  active  2023-01-22 12:09:39.388884 UTC
1      54515546588432327  active  2023-01-24 09:06:42.605777 UTC
2    8377465688456570187  active  2023-01-24 09:07:26.441407 UTC
3    5955337179846162144  active  2023-01-24 09:08:07.634899 UTC
4    1169347689335808384  active  2023-01-24 09:08:18.436854 UTC
..                   ...     ...                             ...
995  4581996310120046851  active  2023-01-19 18:17:03.212763 UTC
996  1209402228564517444  active  2023-01-19 18:10:42.117818 UTC
997  3981100817087735334  active  2023-01-19 18:05:51.455184 UTC
998  4113789786207506299  active  2023-01-19 18:15:32.021276 UTC
999  3243389630626839262  active  2023-01-25 12:06:07.895388 UTC

[1000 rows x 3 columns]

In [11]:
time_zones['store_id'].nunique()

14092

In [41]:
df = time_zones.iloc[:100]

In [25]:
max_timestamp = time_zones['timestamp_utc'].max()

max_timestamp

'2023-01-25 18:13:22.47922 UTC'

In [52]:
df = df.copy()
df['timestamp_utc'] = pd.to_datetime(df['timestamp_utc'], errors='coerce')

In [59]:
df['timestamp_utc'] = pd.to_datetime(df['timestamp_utc'], errors='coerce')

In [64]:
df['timestamp_utc'].unique()

array(['2023-01-22T12:09:39.388884000', '2023-01-24T09:06:42.605777000',
       '2023-01-24T09:07:26.441407000', '2023-01-24T09:08:07.634899000',
       '2023-01-24T09:08:18.436854000', '2023-01-24T09:08:23.138922000',
       '2023-01-24T09:09:37.456563000', '2023-01-24T09:09:58.684489000',
       '2023-01-24T09:10:28.873707000', '2023-01-19T06:07:21.331383000',
       '2023-01-24T14:01:52.138196000', '2023-01-25T13:04:00.152582000',
       '2023-01-21T16:00:49.465440000', '2023-01-21T16:01:36.311245000',
       '2023-01-21T16:02:05.815869000', '2023-01-21T16:02:13.198837000',
       '2023-01-20T17:04:14.098493000', '2023-01-21T17:15:29.921161000',
       '2023-01-21T17:15:36.013705000', '2023-01-21T17:15:39.285005000',
       '2023-01-21T17:15:43.777556000', '2023-01-24T05:58:13.493839000',
       '2023-01-24T05:58:22.253512000', '2023-01-24T05:58:35.019985000',
       '2023-01-24T05:59:35.717711000', '2023-01-24T06:00:06.282107000',
       '2023-01-24T06:00:09.856329000', '2023-01-24T06:01:30.549983000',
       '2023-01-24T06:01:48.829267000', '2023-01-24T06:02:06.671383000',
       '2023-01-24T08:08:22.366068000', '2023-01-24T08:09:45.795033000',
       '2023-01-24T08:10:02.700743000', '2023-01-24T08:10:33.505185000',
       '2023-01-24T09:00:46.942944000', '2023-01-24T09:01:32.991896000',
       '2023-01-24T09:01:33.080280000', '2023-01-24T09:01:46.901535000',
       '2023-01-25T17:01:33.087290000', '2023-01-25T17:01:47.001499000',
       '2023-01-25T17:03:15.216687000', '2023-01-25T17:04:28.386537000',
       '2023-01-25T17:13:14.314139000', '2023-01-25T17:14:39.546335000',
       '2023-01-22T13:01:57.541752000', '2023-01-22T13:02:23.320530000',
       '2023-01-24T17:02:46.924337000', '2023-01-24T17:03:38.648073000',
       '2023-01-24T17:03:39.528946000', '2023-01-24T13:04:52.996699000',
       '2023-01-24T13:06:07.451867000', '2023-01-25T07:12:14.807753000',
       '2023-01-25T08:01:11.304168000', '2023-01-25T08:01:25.493818000',
       '2023-01-25T08:03:35.488792000', '2023-01-24T19:04:58.044409000',
       '2023-01-24T19:05:06.491585000', '2023-01-24T19:08:20.564245000',
       '2023-01-21T23:03:19.159515000', '2023-01-25T03:02:21.151826000',
       '2023-01-25T15:01:08.851420000', '2023-01-25T15:01:26.666202000',
       '2023-01-25T15:02:37.736233000', '2023-01-24T22:04:47.935159000',
       '2023-01-24T22:05:30.813682000', '2023-01-24T22:05:32.597802000',
       '2023-01-24T22:05:34.178899000', '2023-01-24T22:06:09.810504000',
       '2023-01-24T22:06:21.237524000', '2023-01-24T22:07:09.690768000',
       '2023-01-19T20:10:40.154540000', '2023-01-24T23:00:37.675951000',
       '2023-01-24T23:01:00.176339000', '2023-01-24T23:01:12.178654000',
       '2023-01-24T23:01:20.331624000', '2023-01-24T23:01:26.483115000',
       '2023-01-25T10:12:16.118661000', '2023-01-25T11:02:42.259213000',
       '2023-01-25T11:03:07.295786000', '2023-01-25T11:03:29.467753000',
       '2023-01-25T11:04:58.483557000', '2023-01-25T11:05:45.587390000',
       '2023-01-25T11:05:57.750103000', '2023-01-19T17:00:27.412409000',
       '2023-01-19T17:00:34.642318000', '2023-01-19T17:00:39.388891000',
       '2023-01-19T17:03:03.899355000', '2023-01-19T17:04:28.588741000',
       '2023-01-25T13:06:39.780262000', '2023-01-25T13:06:44.992108000',
       '2023-01-25T13:08:44.604298000', '2023-01-25T14:00:48.208054000',
       '2023-01-25T14:03:41.134291000', '2023-01-25T14:05:58.143832000',
       '2023-01-24T05:54:49.493789000', '2023-01-24T05:54:54.692658000',
       '2023-01-24T05:57:10.818206000', '2023-01-24T05:57:28.659871000',
       '2023-01-20T14:04:55.444182000', '2023-01-20T14:04:55.899763000'],
      dtype='datetime64[ns]')

In [53]:
current_time = pd.to_datetime("2023-01-25 18:59:59.47922 UTC")
start_of_last_hour = current_time - pd.DateOffset(hours=10)
start_of_last_hour = pd.to_datetime(start_of_last_hour)
mask = (df['store_id'] == 3243389630626839262) & (df['timestamp_utc'] >= start_of_last_hour)
filtered_df = df[mask]

TypeError: Invalid comparison between dtype=datetime64[ns] and Timestamp